  html {
    width: 100%;
    height: 100%;
    font-family: Sono, sans-serif;
    background-color: #a3aaad;
    color: rgba(36, 92, 152, 0.8);
    overflow-y: scroll;
  }

  body {
    display: inline-block;

    left: 50%;
    margin: 2% 0;
    transform: translate(10%, 0);

    background-color: #fefffa;
    width: 80%;
    max-width: 160rem;
    /* 1920 */
    padding: 2%;
  }

  h1, h2 {
    color: #962f06db;
  }

  h1 {
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    display: inline-block;
    margin: 0;

  }

    h1:hover {
    color: #5c2c2f;
    font-weight: 400;
    cursor: progress;
    }

    p {
    color: rgba(48, 69, 92, 0.8);
    font-size: 1.2rem;
    line-height: 3rem;
    letter-spacing: 0.2rem;
    position: relative;
    transform: translate(0, 0);
    margin-top: 1rem;
  }


  img {
    width: 90%;
    padding-left: 5%;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 0.2rem;
    padding-top: 1rem;
    border-top: 0.1rem dotted #dce7eb;
  }
  ul li:nth-of-type(1) {
    animation-delay: 0.25s;
  }
  ul li:nth-of-type(2) {
    animation-delay: 0.5s;
  }
  ul li:nth-of-type(3) {
    animation-delay: 0.75s;
  }
  ul li:nth-of-type(4) {
    animation-delay: 1s;
  }
  ul li:last-of-type {
    padding-bottom: 0;
  }

  ul li i {
    position: absolute;
    transform: translate(-0,1rem, 0);
    margin-top: 1.5rem;
    right: 0;
  }

  ul li i:before, ul li i:after {
    content: "";
    position: absolute;
    background-color: #ce232e;
    width: 0.25rem;
    height: 0.75rem;
  }

  ul li i:before {
    transform: translate(-0.3rem, 0) rotate(45deg);
  }

  ul li i:after {
    transform: translate(-0.3rem, 0) rotate(-45deg);
  }

  ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }

  ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }

  ul li input[type=checkbox]:checked ~ img {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }

  ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(0.2rem, 0) rotate(45deg);
  }
  ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-0.2rem, 0) rotate(-45deg);
  }
  .transition, ul li i:before, ul li i:after, p {
    transition: all 0.25s ease-in-out;
  }
  .transition, ul li i:before, ul li i:after, img {
    transition: all 0.25s ease-in-out;
  }
  .flipIn, ul li, h1 {
    animation: flipper 0.5s ease both;
  }
  .no-select, h2 {
    user-select: none;
  }



@keyframes flipper {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    20% {
      opacity: 0.2;
    }
    30% {
        opacity: 0.5;
      }
    40% {
    opacity: 1;
      transform: rotateX(30deg);
    }
    60% {
      transform: rotateX(10deg);
    }
    80% {
      transform: rotateX(-5deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }

/* 1200 */
  @media (min-width: 120rem) {
    ul li input[type=checkbox]:checked:hover ~ i {
        margin-top: 0;
        opacity: 1;
        width: 1rem;
        height: 1rem;
        transform: translate(-0.3rem, 0) rotate(-180deg);
      }

      ul li input[type=checkbox]:checked:hover ~ h2 {
        margin-top: 0;
        max-height: 5rem;
        opacity: 1;
        transform: translate(0, 1%);
      }

      ul li input[type=checkbox]:checked:hover ~ p {
        margin-top: 2%;
        max-height: 100%;
        opacity: 1;
        transform: translate(0, 10%);
      }

      ul li input[type=checkbox]:checked:hover ~ img {
        max-height: 100%;
        opacity: 1;
        transform: translate(0, 1%);
      }
      ul li:hover {
        background-color: #d2dbdf;
      }
  }


/* 820 */
@media (max-width: 68rem) {
  body {
    box-shadow: 0 1rem 0 0 #05ee1d inset;
      }
  h1, h2 {
    color: #328005db;
      }
  html {
    color: rgba(211, 191, 11, 0.8);
      }
  h1 {
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 0.1rem;
        font-weight: 100;
        }
  h2 {
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 200;
        letter-spacing: 0.1rem;
        }
  p {
        color: rgba(48, 69, 92, 0.8);
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 0.1rem;
        }
  }


/* 320 */
@media (max-width: 26rem) {
  body {
    box-shadow: 0 1rem 0 0 #c710be inset;
      }
  h1, h2 {
    color: #aa07acdb;
      }
  html {
    color: rgba(214, 4, 95, 0.8);
      }
  h1 {
    font-size: 0.5rem;
    line-height: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 100;
    }
  h2 {
    font-size: 0.5rem;
    line-height: 1rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
    }
  p {
    color: rgba(48, 69, 92, 0.8);
    font-size: 0.5rem;
    line-height: 1rem;
    letter-spacing: 0.2rem;
    }
  }